.header {
    display: flex;
    justify-content: space-between;
}





.header-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: rgb(0, 0, 0);
}

.header-list>li:hover {
    cursor: pointer;
    color: var(--orange);
}